 * {
        margin: 0;
        padding: 0;
        list-style: none; 
        text-decoration: none;  
        font-family: 'roboto', sans-serif;
    
}
 main {
    background-color: white;

}

#content {
padding-bottom: 0px;

}

#mainNavbar {
    background-color:teal;
    color: #fff;
    border-bottom:1px solid goldenrod;
    height: 60px;
    }
 @media only screen and (max-width: 992px){
    #mainNavbar .nav-item {
        background:teal;
        color:black;
        padding: 10px;
        width: 250px;
        height: 60px;
        margin-top: -20px;
        margin-left: -15px;
        line-height: 1.5;
        letter-spacing: 2px;
    }
    
}

.navbar-brand, .brandLogo1 {
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family:'roboto', sans-serif; 
}

.dropdown-menu.show {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight:200;
    line-height: 1.6;
    text-align:left;
    border: none;
    text-transform: uppercase;
    letter-spacing:1px ; 
    box-sizing: inherit;
    position: absolute;
    display: block;
    padding: 5px 5px 5px 5px;
    z-index:22;
    margin-top:-10px;
    background-color:teal ;
    width: 220px;
    height: 220px;
} 

a.dropdown-item:focus,
a.dropdown-item:hover{
    background-color: grey;
}

.brandLogo {
    margin-top: -22px;
    font-size: 12px;
    letter-spacing: 0.2px;
    margin-left: 3px;
}
.jumbotron {
    background-image: url(https://images.unsplash.com/photo-1580822633186-c7744f59aa65?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80);
    background-position: center center;
    height:520px;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: large;
    transition: 5s;
    border: none;

    animation-name: animate;
    -moz-animation-direction: alternate-reverse;
    animation-duration: 60s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    -moz-animation-play-state: running;
    -moz-animation-timing-function: ease-in-out;
}

@keyframes animate {
    0%{background-image:url(https://images.unsplash.com/photo-1528591922185-a0eb2f8f50b6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80)}
    20%{background-image:url(https://images.unsplash.com/photo-1488477304112-4944851de03d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80)}
    40%{background-image:url(https://images.unsplash.com/photo-1557163638-71e3ad2d3a52?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80)}
    60%{background-image:url(https://images.unsplash.com/photo-1592868859049-dfdcd6c07c29?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80)}
    80%{background-image:url(https://images.unsplash.com/photo-1576536042117-be5b8bc645b2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80)}
    100%{background-image:url(https://images.unsplash.com/photo-1531956531700-dc0ee0f1f9a5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80)}
}


.P1 {
    text-align: center;
    border-top: 1px solid goldenrod;
    border-bottom: 1px solid goldenrod;
    background-color:crimson;
    color: white;
    padding:20px;
    height: 150px;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    margin-top: -30px;
}

@media only screen and (max-width: 992px){
    div#content {
        max-width: 100%;
        background-size: cover;
    }
    .P1 {
     padding: 0; 
     scroll-padding-top: 20px;
     height: 180px;
    }
    /* .dropdownMenu.show {
        overflow:hidden;
        height:200px;
      } */
    
}

.intro-heading, h1 {
    color: goldenrod;
    font-size: 28px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: 0px;
    text-transform: uppercase;
    margin-inline-start: 10px;
    margin-top:70px;

    
}

.intro-para, P2 {
    font-size: 17px;
    color: #303030;
    display: block;
    letter-spacing: 1px;
    margin-block-start: 2em;
    margin-block-end: 2em;
    margin-inline-start: 20px;
    margin-inline-end: 20px;
    margin-top: 20px;
    
}

.container-body {
     margin: 0;
     padding: 0;
     height: 100%;
    } 
 
.container {
     width: 100%;
     
    }  
 
 .gridWrapper {
     display: grid;
     justify-content:center;
     align-items: center;
     grid-template-columns: auto auto auto;
      padding: 30px;
     box-sizing: inherit;
     grid-column-gap: 30px;
    }

.cards {
    display:block;
    width: 100%;

    
}

.cardImg {
    width: 100%;
    height: 50%;
}

.cardImg .main-img {
    width: 400px;
    height: 100%;
}

.cardImg .main-img:hover {
    filter: grayscale(80%);
    transform: scale(1.1);
}

.card-content {
    margin-top: -20px;
    padding: 15px;
    box-sizing: inherit;
    letter-spacing: 1px;
}

@media screen and (max-width: 1250px){
    .gridWrapper{
        width: 100%;
        height: auto;
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: auto auto auto;
        box-sizing: inherit;
    }
    .cardImg .main-img {
        width: 200px;
        height: 100%;
        padding: 0px;
    }

} 
 
@media screen and (max-width: 767px){ /*820*/
    .gridWrapper{
        height: 100%;
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: auto auto;
        box-sizing: inherit;
    }
    .cardImg .main-img {
        width: 300px;
        height: auto;
        padding: 0px;
    }

} 

@media screen and (min-width:480px)and (max-width: 767px){  /*520*/
    .gridWrapper{
        height: 100%;
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: auto;
        box-sizing: inherit;
    }
    .cardImg .main-img {
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width: 480px){  /*520*/
    .gridWrapper{
        height: 100%;
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: auto;
        box-sizing: inherit;
    }
    .cardImg .main-img {
        width: 100%;
        height: 100%;
    }
    .card-content .card-h1 {
        font-size: 20px;
    }
}
#jumboMenu {
     background-position: center;
     background-repeat: no-repeat;
     background-size: auto; 
     object-fit: cover;
    }

.test-center {
    text-align: center;
    color: black;
    font-weight: lighter;
    font-size: 40px;
    font-family: 'roboto', sans-serif;

    } 
 .text-center  {
     color: black;
     text-align: center;
     font-size: 25px;
    font-family: 'roboto', sans-serif;
    font-weight: 400;
    border: 1px solid black;
    background-color: goldenrod;
}


.footer {
    background-color:#555555;
    height:400px;
    display: block;
    width: 100%;
    color: whitesmoke;
    box-sizing: inherit;
    padding: 0;
    text-align: left;

}

.main-content {
    display: flex;

}

.main-content .item {
    flex-basis: 50%;
    padding: 10px 20px;

}

.item h2 {
   font-size:1.125rem ; 
   font-weight: 600;
   text-transform: uppercase;
}

.item .content {
    margin: 20px 0 0 0;
    position: relative;
}

.item .content::before {
    position: absolute;
    content: '';
    top: -10px;
    height: 2px;
    width: 100%;
    background:darkkhaki;
}

.item .content::after {
position: absolute;
content: '';
height: 2px;
width: 15%;
background:goldenrod;
top: -10px;
}

.left .content p {
    text-align: justify;

}

.left .content .social {
    margin: 20px 0 0 0;
}


.left .content .social .medialinks {
    padding: 0 2px;
}

.left .content .social .medialinks span{
   height: 40px; 
   width: 40px;
   background:  rgba(218, 165, 32, 0.342);
   color: whitesmoke; 
   line-height: 40px;
   text-align: center;
   font-size: 28px;
   border-radius: 5px;
   transition: 0.3s;
}

.left .content .social .medialinks span:hover{
    background:rgba(218, 165, 32, 0.897) ;
}
 
#twitter-widget-0 {
     width: 300px;
    height:250px !important;
    margin-top: 50px;
}

blockquote {
    margin: 20px;
}

.center .content .fas {
  font-size: 1.4375rem;  
  background: rgba(218, 165, 32, 0.342);
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius:50%;
  transition: 0.3s;
  cursor: pointer;
}

.center .content .fas:hover {
    background:rgba(218, 165, 32, 0.897) ;
}

.center .content .text {
    font: size 1.0625rem; 
    font-weight: 500;
    padding-left: 10px;
}

.center .content .phone {
    margin: 10px 0;
}

.right .formfooter .text{
    font-size: 1.0625rem;
    margin-bottom: 2px;
    color: white;
}

.right .formfooter .msg {
    margin-top: 10px;
}

.right .formfooter .ftInput, .right .formfooter textarea {
    width: 100%;
    font-size: 1.0625rem;
    background:white ;
    padding-left: 10px;
    border: 1px solid rgba(218, 165, 32, 0.342);
}

.right .formfooter .ftInput:focus,
.right .formfooter textarea:focus{
   outline-color:lightblue; 
}

.right .formfooter .ftInput {
    height: 35px;
}

.right .formfooter .form-btn .fbtn{
    height: 40px;
    width: 100%;
    border: none;
    color:white;
    outline: none;
    background:rgba(218, 165, 32,0.781);
    font-size: 1.0625rem;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s; 
}

.right .formfooter .form-btn .fbtn:hover {
    background:rgba(218, 165, 32, 0.897);
}

.rate-f {
    margin-top: 8px;
}

#rate-f2 {
    max-width: 50%;
    height: 100px;
}

#rate-f2 {
    border-style: none;
}

.bottom-container {
     margin-top: -25px;
     margin-left: -10px;
     margin-right: 10px;
     height:20px;
     display: block;
     justify-content: center;
     align-items: center; 
     color: #151515; 
    }

    .copy-text {
    margin-left: 10px;
    box-sizing: inherit;
    display: block;
    font-size: 12px;
    font-weight: 300;
    line-height: 1.5;
    text-align: center;
    color: #303030;
}  

.privacy-copy {
    font-size: 12px;
    text-align: center;
    font-weight:300;
}
 
@media screen and (max-width: 900px) {
     .footer {
        position: relative;
        bottom: 0px;
        margin-top: 50px;
    }
    .right h2 {
        color:#303030;
        margin-top: 60px;
        text-align: left;
    }
    #rate-f2 {
        max-width: 70%;
        height: auto;
    }
    #h-addy {
        color: black;
    }
    .center .content {
        background-color: #555555;
        padding: 10px;
        border-radius: 2px;
    }

    .main-content {
        flex-wrap: wrap;
        flex-direction: column;
        margin-top: -220px;
    }
    .main-content .item {
        margin: 5px 0;
    }
    .bottom-container{
        margin-top: -10px;
    }
}

.about-container {
    font-family:'roboto' sans-serif;
    display: flex;
    position: relative;
    padding: 20px;
}

.about-container .imageBox {
   width: 600px;
   flex: 0 0 150px;

}

.about-container .imageBox .imgg {
   height: 320px;
   width: 350px;

}

.about-container .about-para {
    padding-left: 20px;
} 

.about-container .about-para .btm-heading {
    margin: 0;
    padding-left: 0;
}

.about-container .about-para .paraCard {
    margin: 0;
    padding: 10px 0 0;
    text-align: justify;
} 

@media screen and (min-width:50px) and (max-width:660px) {
    html{
        width: 100%;
    }
    div .about-container{
        width: 100%;
        background-size: cover;

    } 
    .footer {
        width: 100%;
    } 
    p.para{
        margin-top:200px ;
    }
}

 @media screen and (max-width: 991px){
    body div #content {
        width: 100%;
        background-size: cover;

    } 
    div#content {
        width: 100%;
    
        
    }
    .footer {
        position: relative;
        bottom: 0px;
        margin-top: 200px;
    }
    
    
    .about-container {
        flex-direction: column;
        box-sizing: border-box;
        width: 100%; 
        background-size: cover;

    }
    
   
}

@media screen and (max-width: 768px) {
    .about-container {
        flex-direction: column;
        box-sizing: border-box;
        width: fit-content;
    }
    .about-container .imageBox {
        width: 100%;
        flex: 0 0 150px;
    }
    
    .about-container .imageBox .imgg {
        flex-direction: column;
        max-width: 100%;;
        flex: 0 0 350px;
        text-align: center;
        box-sizing: border-box;
        
    }
    .footer {
        position: relative;
        bottom: 0px;
        margin-top: 400px;
    }
    
    .about-container .about-para .imageBox {
        max-width: 100%;
        
    }
    
}


